.form-con {
  background-color: gray;

  border-bottom: 2px solid snow;
}
.search-input-col {
  padding-bottom: 1%;
}
.search-input {
  border: 0;
  border-bottom: 1px solid whitesmoke;
  background: transparent;
  color: whitesmoke;
  width: 100%;
  font-size: 16px;
  text-align: center;
  outline: none;
}

.card {
  padding: 1%;
  background: #e9e2d0;
  margin-top: 5px;
  box-shadow: 5px 5px 5px #000000;
  font-weight: bold;
  z-index: 5;
}

.card h2 {
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 15pt;
}

.card p {
  font-family: courier;
  color: #555;
  font-size: 13px;
  margin: 0 auto;
  padding-top: 1%;
}

.card span {
  font-family: courier;
}
